

/*--------------------Général-------------------*/

body {
    margin:0;
}

.contenu_page {
    max-width: 1519px;
    margin: auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

em {
    font-weight: bold;
}

a{
    text-decoration: none;
    color: black;
}

h1 {
    font-family: "raleway", sans-serif;
    margin-bottom: 2px;
    font-weight: 700;
}

h2 {
    font-size: 1.3em;
    font-family: "raleway", sans-serif;
    font-weight: 700;
}

h3 {
    font-size: 1.1em;
    font-family: "raleway", sans-serif;
    font-weight: 700;
}


/*----------------------Header------------------*/


header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 95%;
    margin: auto;
    margin-top: 0px;
    height: 80px;
    margin-bottom: 30px;
    align-items: flex-end;
}

.main-logo img {
    height: 45px;
}

.nav-big-screen {
    margin-right: 38px;
    height: 80px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.nav-big-screen ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    margin-top: 0px;
    align-items: center;
}

.nav-big-screen li {
    margin-left:60px;
    height: 100%;
    text-align: center;
    padding-top: 35px;
    padding-left:15px;
    padding-right:15px;
    border-top: 2px solid rgba(0,0,0,0);
    font-size: 1em;
}

.nav-big-screen li:hover {
    border-top: #0065FC 2px solid;
    
}

.nav-big-screen li:hover a {
    color:#0065FC;
}


.nav-big-screen_subscribe {
    font-family: "raleway", sans-serif;
    font-weight: 700;
}

.nav-big-screen_subscribe {
    color:#0065FC;
}


/*--------------------.top-of-page-----------------*/

.top-of-page {
    font-family: "raleway", sans-serif;
    width: 95%;
    margin:auto;
    font-size: 0.9em;
    margin-bottom:30px;
}



.top-of-page_1 p {
    margin-top: 4px;
    font-weight: 300;
}

/*----Champ de recherche---*/
.search-form {
    display:flex;
    flex-direction: row;
    height:40px;
}

.icon_location {
    margin-right:0;
    width: 40px;
    height: 40px;
    background-color: #f2f2f2;
    text-align: center;
    vertical-align: middle;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    position: relative;
}

.icon_location i {
    position: absolute;
    bottom: 13px;
    left:15px;
}

.search_bar {
    height: 40px ;
    width: 220px;
    border: #f2f2f2 1px solid;
    margin-right: 0;
    padding-left:10px;
    color: black;
    font-weight: bold;
    font-family: "raleway", sans-serif;
    font-size: 1em;
}

.search_button {
    border: none;
    background-color: #0065FC;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 0.9em;
    font-weight: bold;
    font-family: "raleway", sans-serif;
    width: 95px;
}

.search_bar:focus { /*empêche la bordure lorsqu'on écrit dans le champ de recherche */
    outline: none;
}

#search_button_2 {
    display: none;
}


/*----Les filtres---*/

.top-of-page_3 {
    display: flex;
    flex-direction: row;
    font-weight: 700; 
    margin-top: 15px; 
}

.top-of-page_3--title {
    display:flex;
    align-items: center;
    margin-right: 40px;
    font-size: 1.1em;
}

.top-of-page_3 ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}




.container_filters input {
    background-color: white;
    height: 40px;
    border: #d9d9d9 solid 3px;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 20px;
    font-weight: bold;
    font-size: 0.9em;
    margin-right: 25px;
    -webkit-appearance: none;
}

.container_filters input:active { /*quand on clique sur le bouton */
    border: #0065FC solid 2px;
    background-color: #DEEBFF;
}

/*bouton de filtre*/
.button_filters {
    position: relative;
}
 
.ico_filters {
    background-color: #DEEBFF;
    height: 40px;
    width: 40px;
    position: absolute;
    left: -10px;
    border-radius: 100%;
    display:flex;
}
 
.ico_filters i {
    
    margin: auto;
    /*filtre pour rendre l'icone de la bonne couleur*/
    filter: invert(24%) sepia(40%) saturate(6775%) hue-rotate(211deg) brightness(102%) contrast(102%);
}

/* boutons avec hover*/

.button_filters_1:hover .ico_filters_1 {
    background-color: #0065FC;
}   

.button_filters_1:hover .ico_filters_1 i {
    filter: invert(100%) sepia(40%) saturate(3842%) hue-rotate(177deg) brightness(104%) contrast(102%);
}

.button_filters_2:hover .ico_filters_2 {
    background-color: #0065FC;
}   

.button_filters_2:hover .ico_filters_2 i {
    filter: invert(100%) sepia(40%) saturate(3842%) hue-rotate(177deg) brightness(104%) contrast(102%);
}

.button_filters_3:hover .ico_filters_3 {
    background-color: #0065FC;
}   

.button_filters_3:hover .ico_filters_3 i {
    filter: invert(100%) sepia(40%) saturate(3842%) hue-rotate(177deg) brightness(104%) contrast(102%);
}

.button_filters_4:hover .ico_filters_4 {
    background-color: #0065FC;
}   

.button_filters_4:hover .ico_filters_4 i {
    filter: invert(100%) sepia(40%) saturate(3842%) hue-rotate(177deg) brightness(104%) contrast(102%);
}

/*Effet quand on clique sur le bouton*/

.top-of-page_4 input:active {
    border: #0065FC solid 3px;
    background-color: #c4c2c2;
}

/*----------.top-of-page_4-------------*/

#ico_info {
    display: block;
    border-radius: 100%;
    border: solid 1px #c4c2c2;
    height: 1.3em;
    width: 1.3em;
    text-align: center;
    line-height: 1.3em;
    float: left;
    margin-right:10px;
}

#ico_info i {
    font-size:1em;
    filter: invert(24%) sepia(91%) saturate(3771%) hue-rotate(211deg) brightness(102%) contrast(106%);   
}

.top-of-page_4 {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
}

/*---------------------Container middle of page----------------*/



.middle-of-page {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between; 
    font-family: "raleway", sans-serif;

}

.middle-of-page a {
    text-decoration: none;
}


/*----------------------------Article--------------------------*/

article {
    display: flex;
    width:65%;
    height: 100%;
    
    flex-direction: column;
    flex-wrap: wrap;
    
    border-radius: 15px;
    background-color: #f2f2f2;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

#article_title {
    width: 90%;
    margin:auto;
}
/*----------disposition des cards----------*/

.article_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    height: 430px;
    width: 90%;
    margin: auto;
}

.card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #e0dfdf;
    padding:5px;
}

.card:hover {
    box-shadow: 3px 3px 5px #c4c2c2;
}

.card:active {
    box-shadow: 3px 3px 5px #0065FC;
}

.contenu_card {
    margin-left: 10px;
}

/*--diminuer l'espacement entre le titre et le texte--*/
.card h3 {
    margin-bottom: 4px;
    margin-top: 2px;
    text-overflow: ellipsis;
}

.contenu_card p {
    margin-top: 2px;
    font-size: 0.9em;
    margin-bottom: 5px;
    font-weight: 400;
    
}

/*redimension des images*/
.image_card img {
    width: 16.4vw;
    height: 114px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    max-width: 250px;
}


/*Etoiles de notation */

.rating {
    display:flex;
    flex-direction: row; 
    align-content: flex-start;
    justify-items: center;
    margin-top: 8px;
}

.blue_stars, .grey_stars {
    display:flex;
    flex-direction: row;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 5px;
}

.blue_stars i {
    font-size: 0.8em;
    filter: invert(24%) sepia(91%) saturate(3771%) hue-rotate(211deg) brightness(102%) contrast(106%);
    margin-right: 5px;
}

.grey_stars i {
    margin-right: 5px;
    font-size: 0.8em;
    filter: invert(100%) sepia(1%) saturate(2549%) hue-rotate(214deg) brightness(88%) contrast(94%);
}

article a {
    color: black;
    text-decoration: none;
}

.article_more {
    margin-top: 20px;
    width: 90%;
    margin: auto;

}

.article a:hover {
    text-decoration: underline;
}




/*-------------------------Aside------------------------*/

#ico_pop {
    display: block;
    height: 1.2em;
    width: 1.2em;
    text-align: center;
    line-height: 1.2em;
    float: right;
}

.aside_title {
    width: 85%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
}

aside {
    display: flex;
    width: 33%;
    
    flex-direction: column;
    background-color: #f2f2f2;
    
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}



.aside_container {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
    width: 85%;
    margin:auto;
    margin-top: 0;
}

.card_2 {
    padding-top: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    background-color:white;
    border-radius: 15px;
    align-items: center;
    box-shadow: 3px 3px 5px #e0dfdf ;
}

.card_2:hover {
    box-shadow: 3px 3px 5px #c4c2c2;
}

.card_2:active {
    box-shadow: 3px 3px 5px #0065FC;
}

.image_card_2 img {
    height: 130px;
    width: 10vw;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    max-width:148px;
    object-fit: cover;
}

.image_card_2 {
    margin-right: 15px;
}

.contenu_card_2 h3, .contenu_card_2 p {
    color: black
}




/*--------------------------------Bottom of page -----------------------------*/

.bottom-of-page {
    display: flex;
    width: 95%;
    margin: auto;
    flex-direction: column;
    justify-content: space-between;   
    font-family: "raleway",sans-serif;
    margin-top: 40px;
}

.bottom-of-page a {
    text-decoration: none;
}



.bottom-of-page_container {
    display:flex;
    max-height: 493px;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 490px;
    
}

.card_3 {
    display:flex;
    flex-direction: column;
   
    border-radius: 15px;
    background-color:white;
    box-shadow: 3px 3px 5px #e0dfdf ;
}


.card_3:hover {
    box-shadow: 3px 3px 5px #c4c2c2;
}

.card_3:active {
    box-shadow: 3px 3px 5px #0065FC;
}

.image_card_3 img {
    height: 430px;
    width: 21vw;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    max-width:350px;
}

.contenu_card_3 h3 {
    padding-left: 15px;
}

.contenu_card_3 {
    color: black;
    width: 21vw;
    max-width:350px;
}



/*taille moyenne*/
.m-image_card_3 img {
    height: 200px;
    width: 21vw;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    max-width:350px;
}

/*petite taile*/

.s-image_card_3 img {
    height: 125px;
    width: 21vw;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    max-width:350px;
}


/*--------------------------------------Footer--------------------------*/

footer {
    background-color: #f2f2f2;
    margin-top: 40px;
    font-family: "raleway",sans-serif;
    
    width: 100%;
    
}

.footer100 {
    width: 100%;
    max-width: 1519px;
    margin: auto;
    padding-bottom: 20px;
}

.container_footer {
    width:95%;
    margin: auto;
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    text-decoration: underline;
}

footer ul {
    list-style: none;
    padding: 0;
}


.list_footer
{
    margin-right: 300px;
}

footer li {
    margin-bottom: 8px;
}


/*----------------------A ne pas afficher ------------------------*/
.header_subscribe {
display: none;
}

.nav-mobile {
    display: none;
}