@media screen and (max-width: 1000px) {

    body {
        width: 100%;
        margin:0;
    }

    #container_middle_of_page {
        flex-direction: column;
        display: flex;
    }

    a {
        text-decoration: none;
        
    }

    #subscribe {
        display: contents;
        }

        #subscribe_header{
            color: #0065FC;
            font-size: 1.3em;
            font-family: "raleway-bold", sans-serif;
        }
    
    #nav_big_screen {
        display:none;
    }

    #nav_mobile {
        display: contents;
        width: 100%;
        display: flex;
        text-align: center;
        font-family: "raleway", sans-serif;
        margin-bottom: 15px;
    }

    #nav_mobile a {
        color:black;
    }

   #activites_nav_mobile {
        width: 50%;
        border-bottom: #DEEBFF 3px solid;
        padding-bottom: 10px;
        
        
    }


    #hebergement_nav_mobile {
        border-bottom: #0065FC 3px solid;
        width: 50%;
        padding-bottom: 5px;
    }

    #hebergement_nav_mobile a {
        color: #0065F;
    }

    /*--------------------Container_top_of_page-----------------*/
    #container_top_of_page {
        font-size: 1.2em;
    }
    
    h1 {
        font-size: 1.8em;
    }


    #top_of_page_3 {
        flex-direction: column;
    }

    #filters_title {
        max-height: 30px;
    }

    #container_filters_form input {
        background-color: white;
        height: 48px;
        border: #f2f2f2 solid 2px;
        border-radius: 48px;
        padding-left: 40px;
        padding-right: 20px;
        font-weight: bold;
        font-size: 1.1em;

    }


    /*bouton 1*/
    #button_filters1 {
        height: 48px;
        position: relative;
        margin-bottom: 13px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    #ico_filters1 {
        background-color: #DEEBFF;
        height: 48px;
        width: 48px;
        position:absolute;
        left: -14px;
        border-radius: 100%;
        display:flex;
    }
    
    /*bouton 2*/
    #button_filters2 {
        height: 48px;
        position: relative;
        margin-bottom: 13px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    #ico_filters2 {
        background-color: #DEEBFF;
        height: 48px;
        width: 48px;
        position:absolute;
        left: -14px;
        border-radius: 100%;
        display:flex;
    }

    /*bouton 3*/
    #button_filters3 {
        height: 48px;
        position: relative;
        margin-bottom: 13px;
        margin-left: 10px;
        margin-right: 10px;

    }
    
    #ico_filters3 {
        background-color: #DEEBFF;
        height: 48px;
        width: 48px;
        position:absolute;
        left: -14px;
        border-radius: 100%;
        display:flex;
    }
    
    /*bouton 4*/
    #button_filters4 {
        height: 48px;
        position: relative;
        margin-bottom: 13px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    #ico_filters4 {
        background-color: #DEEBFF;
        height: 48px;
        width: 48px;
        position:absolute;
        left: -14px;
        border-radius: 100%;
        display:flex;
    }

    #top_of_page_3 li {
        margin-left: 0px;
    }

    /*----------top_of_page_4-------------*/

#ico_info {
    display: block;
    border-radius: 100%;
    border: solid 1px #f2f2f2;
    height: 1.2em;
    width: 1.2em;
    text-align: center;
    line-height: 1.2em;
    float: left;
    margin-right:10px;
}

#ico_info img {
    height: 12px;
    filter: invert(24%) sepia(91%) saturate(3771%) hue-rotate(211deg) brightness(102%) contrast(106%);   
}

    /*---------------------Container middle of page----------------*/

    #container_middle_of_page {
        width: 100vw;
    }

    /*-------------------------Aside------------------------*/
  
    #middle_of_page_2{
        width: 100%; 
        order: -1;
    }

    aside {
        padding-left: 0%;
        border-radius: 0;
    }

    #aside_tittle {
        width: 95vw;
        margin: auto;
    }

    .image_card_2 img {
        width: 33.6vw;
        height: 16.6vh;
        min-height: 138px;
    }

    .card_2 {
        width: 90vw;
        margin-bottom: 15px;
    }

    #ico_pop {
        margin-right:0px;
    }
    
    #container_card_2 {
        align-items: center;
    }
    /*-------------------------Article------------------------*/

    article {
        width: 100vw;
        padding-left: 0;
        padding-right:0;
        border-radius: 0px;
        background-color: white;
    }

    #middle_of_page_1_title {
        width: 95%;
        margin: auto;
        display: flex;
        
    }

    #container_card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image_card img {
        width: 90vw;
        height: 16.6vh;
        min-height: 138px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover;
    }

    .card
    {
        width: 90vw;
    }

    #view_more {
        padding-left: 5.3vw;
    }

    .card h3 {
        font-size: 1.1em;
    }
    
    .card p {
        font-size:1em;
    }

    /*-------------------------container_bottom_of_page-----------------------------------*/

    #container_bottom_of_page    {
        width: 95%;
    }

    #bottom_of_page_1 {
        width: 95%;
        margin: auto;
    }

    #container_card_3 {
        flex-direction: column;
        align-items: center;
        max-height: none;
        margin: auto;
        width: 95%;
        height: auto;
    }

    .image_card_3 img {
        width: 90vw;
        height: 16.6vh;
        min-height: 138px;
    }

    .m-image_card_3 img {
        width: 90vw;
        height: 16.6vh;
        min-height: 138px;
    }

    .s-image_card_3 img {
        width: 90vw;
        height: 16.6vh;
        min-height: 138px;
    }

    .card_3 {
        margin-bottom: 15px;
        width: 90vw;
    }


    .card_3 h3 {
        font-size: 1.2em;

    }


    /*--------------footer-------------------------*/
    #container_footer {
        flex-direction: column;
        margin-left: 5.3vw;
    }






    /*-----------------------Champ de recherche----------------------*/

    #top_of_page_2 {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    #search_input {
        height: 50px ;
        width: 60vw; /*taille à ajuster*/
    }

    #icon_location {
        margin-right:0;
        width: 50px;
        height: 50px;
    }
    
    #search_button {
        position: relative;
        height: 50px;
        width: 50px;
        border-radius: 10px;
        left: -7px;
    }

    #search_button_1 {
        display: none;
    }

    #search_button_2 {
        display: contents;
    }

    #search_button img{
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(132deg) brightness(110%) contrast(101%);
        height: 1em;
    }

}

