@font-face {
    font-family: "raleway";
    src: url(Raleway/static/Raleway-VariableFont-wght.ttf);
}

@font-face {
    font-family: "raleway-bold";
    src: url(raleway/static/Raleway-Bold.ttf);
}

@font-face {
    font-family: "raleway-thin";
    src: url(Raleway/static/Raleway-Thin.ttf);
}

/*--------------------Général-------------------*/

body {
    display:flex;
    flex-direction: column;
    margin: 0;
}






/*----------------------Header------------------*/


header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 95%;
    margin: auto;
    margin-top: 0px;
    height: 80px;
    margin-bottom: 30px;
    align-items: flex-end;
}

#main_logo img {
    height: 45px;
}

nav {
    display: inline-block;
    height: 80px;
    font-family: "raleway-thin", sans-serif;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    margin-top: 0px;
    align-items: center;
}

nav li {
    margin-left:60px;
    height: 100%;
    text-align: center;
    padding-top: 30px;
    border-top: 2px solid rgba(0,0,0,0);
    font-size: 1.2em;
}

nav li:hover {
    border-top: #0065FC 2px solid;
}

nav a {
    color: #0065FC;
    text-decoration: none;
}

#subscribe_link {
    font-family: "raleway-bold", sans-serif;
}

#activities_link {
    color:black
}