@font-face {
    font-family: "raleway";
    src: url(Raleway/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: "raleway-bold";
    src: url(Raleway/static/Raleway-Bold.ttf);
}

@font-face {
    font-family: "raleway-thin";
    src: url(Raleway/static/Raleway-Thin.ttf);
}

/*--------------------Général-------------------*/

body {
    display:flex;
    flex-direction: column;
    margin: auto;
    max-width: 1500px;
}

em {
    font-weight: bold;
}




/*----------------------Header------------------*/


header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 95%;
    margin: auto;
    margin-top: 0px;
    height: 80px;
    margin-bottom: 30px;
    align-items: flex-end;
}

#main_logo img {
    height: 45px;
}

#nav_big_screen {
    
    height: 80px;
    font-family: "raleway-thin", sans-serif;
    font-weight: bold;
}

#nav_big_screen ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    margin-top: 0px;
    align-items: center;
}

#nav_big_screen li {
    margin-left:60px;
    height: 100%;
    text-align: center;
    padding-top: 30px;
    border-top: 2px solid rgba(0,0,0,0);
    font-size: 1.2em;
}

#nav_big_screen li:hover {
    border-top: #0065FC 2px solid;
}

#nav_big_screen a {
    color: #0065FC;
    text-decoration: none;
}

#subscribe_link {
    font-family: "raleway-bold", sans-serif;
}

#activities_link {
    color:black
}

/*--------------------Container_top_of_page-----------------*/

#container_top_of_page {
    font-family: "raleway", sans-serif;
    width: 95%;
    margin:auto;
    font-size: 0.9em;
    margin-bottom:20px;
}

h1 {
    font-size: 1.3em;
    margin-bottom: 2px;
    font-family: "raleway-bold";
    font-weight: 300;
}

#top_of_page_1 p {
    margin-top: 2px;
}

/*----Champ de recherche---*/
#search_form {
    display:flex;
    flex-direction: row;
    height:30px;
}

#icon_location {
    margin-right:0;
    width: 30px;
    height: 30px;
    background-color: #f2f2f2;
    text-align: center;
    vertical-align: middle;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-image: url("images/icones/map-marker-alt-solid.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28%;
}

#search_input {
    height: 30px ;
    width: 180px;
    border: #f2f2f2 1px solid;
    margin-right: 0;
    padding-left:10px;
    color: black;
    font-weight: bold;
    font-family: "raleway", sans-serif;
}

#search_button {
    border: none;
    background-color: #0065FC;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 0.8em;
    font-weight: bold;
    font-family: "raleway", sans-serif;
}

#search_input:focus { /*empêche la bordure lorsqu'on écrit dans le champ de recherche */
    outline: none;
}

#search_button_2 {
    display: none;
}


/*----Les filtres---*/

#top_of_page_3 {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-items: center;
}

#filters_title {
    display:flex;
    align-items: center;
}

#top_of_page_3 ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

#top_of_page_3 li {
    margin-left: 25px;
}

#container_filters_form input {
    background-color: white;
    height: 30px;
    border: #f2f2f2 solid 2px;
    border-radius: 15px;
    padding-left: 30px;
    padding-right: 20px;
    font-weight: bold;
    font-size: 0.9em;
}

/*bouton 1*/
#button_filters1 {
    height: 30px;
    position: relative;
}
 
#ico_filters1 {
    background-color: #DEEBFF;
    height: 30px;
    width: 30px;
    position:absolute;
    left: -6px;
    border-radius: 100%;
    display:flex;
}
 
 
#filters input:active { /*quand on clique sur le bouton */
    border: #0065FC solid 2px;
    background-color: #DEEBFF;
}
 
#ico_filters1 img {
    height: 13px;
    margin: auto;
    /*filtre pour rendre l'icone de la bonne couleur*/
    filter: invert(24%) sepia(40%) saturate(6775%) hue-rotate(211deg) brightness(102%) contrast(102%);
}

/* bouton 1 avec hover*/

#button_filters1:hover #ico_filters1 {
    background-color: #0065FC;
}   

#button_filters1:hover #ico_filters1 img {
    filter: invert(100%) sepia(40%) saturate(3842%) hue-rotate(177deg) brightness(104%) contrast(102%);
}

/*bouton2*/
#button_filters2 {
    height: 30px;
    position: relative;
}
 
#ico_filters2 {
    background-color: #DEEBFF;
    height: 30px;
    width: 30px;
    position:absolute;
    left: -6px;
    border-radius: 100%;
    color:#0065FC;
    display:flex;
}
 
#ico_filters2 img {
    height: 13px;
    margin: auto;
    /*filtre pour rendre l'icone de la bonne couleur*/
    filter: invert(24%) sepia(40%) saturate(6775%) hue-rotate(211deg) brightness(102%) contrast(102%);
}

/* bouton 2 avec hover*/

#button_filters2:hover #ico_filters2 {
    background-color: #0065FC;
}   

#button_filters2:hover #ico_filters2 img {
    filter: invert(100%) sepia(40%) saturate(3842%) hue-rotate(177deg) brightness(104%) contrast(102%);
}


/*bouton3*/
#button_filters3 {
    height: 30px;
    position: relative;
}
 
#ico_filters3 {
    background-color: #DEEBFF;
    height: 30px;
    width: 30px;
    position:absolute;
    left: -6px;
    border-radius: 100%;
    color:#0065FC;
    display:flex;
}
 
#ico_filters3 img {
    height: 13px;
    margin: auto;
    /*filtre pour rendre l'icone de la bonne couleur*/
    filter: invert(24%) sepia(40%) saturate(6775%) hue-rotate(211deg) brightness(102%) contrast(102%);
}

/* bouton 3 avec hover*/

#button_filters3:hover #ico_filters3 {
    background-color: #0065FC;
}   

#button_filters3:hover #ico_filters3 img {
    filter: invert(100%) sepia(40%) saturate(3842%) hue-rotate(177deg) brightness(104%) contrast(102%);
}

/*bouton4*/
#button_filters4 {
    height: 30px;
    position: relative;
}
 
#ico_filters4 {
    background-color: #DEEBFF;
    height: 30px;
    width: 30px;
    position:absolute;
    left: -6px;
    border-radius: 100%;
    color:#0065FC;
    display:flex;
}
 
#ico_filters4 img {
    height: 13px;
    margin: auto;
    /*filtre pour rendre l'icone de la bonne couleur*/
    filter: invert(24%) sepia(40%) saturate(6775%) hue-rotate(211deg) brightness(102%) contrast(102%);
}

/* bouton 4 avec hover*/

#button_filters4:hover #ico_filters4 {
    background-color: #0065FC;
}   

#button_filters4:hover #ico_filters4 img {
    filter: invert(100%) sepia(40%) saturate(3842%) hue-rotate(177deg) brightness(104%) contrast(102%);
}



/*Effet quand on clique sur le bouton*/

#top_of_page_4 input:active {
    border: #0065FC solid 2px;
    background-color: #DEEBFF;
}

/*----------top_of_page_4-------------*/

#ico_info {
    display: block;
    border-radius: 100%;
    border: solid 1px #f2f2f2;
    height: 0.9em;
    width: 0.9em;
    text-align: center;
    line-height: 0.9em;
    float: left;
    margin-right:10px;
}

#ico_info img {
    height: 10px;
    filter: invert(24%) sepia(91%) saturate(3771%) hue-rotate(211deg) brightness(102%) contrast(106%);   
}


/*---------------------Container middle of page----------------*/

#container_middle_of_page {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between; 
    font-family: "raleway", sans-serif;
}

#container_middle_of_page a {
    text-decoration: none;
}

/*----------------------------Article--------------------------*/

article {
    display: flex;
    width: 55vw;
    height: 100%;
    padding-left: 30px;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 30px;
    border-radius: 15px;
    background-color: #f2f2f2;
    font-weight: bold;
    max-width: 900px;
}

article h2 {
    font-family: "raleway-bold";
    font-weight: 300;

}

/*----------disposition des cards----------*/

#container_card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    background-color: white;
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #e0dfdf;
    padding:5px;
}

.card:hover {
    outline: #0065FC solid 1px;
}

.card:active {
    box-shadow: 3px 3px 5px #0065FC;
}

.contenu_card {
    margin-left: 10px;
}

/*--diminuer l'espacement entre le titre et le texte--*/
.card h3 {
    font-size: 1rem;
    margin-bottom: 2px;
    font-family: "raleway-bold";
    font-weight: 300;
}

.contenu_card p {
    margin-top:2px;
    font-size:0.8em;
    font-weight: normal;
    margin-bottom:5px;
}

/*redimension des images*/
.image_card img {
    width: 16.4vw;
    height: 114px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: fill;
    max-width: 300px;
}


/*Etoiles de notation */

.rating {
    display:flex;
    flex-direction: row; 
    align-content: flex-start;
    justify-items: center;
}

.blue_stars, .grey_stars {
    display:flex;
    flex-direction: row;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 5px;
}

.blue_stars img {
    height: 15px;
    width: 15px;
    filter: invert(24%) sepia(91%) saturate(3771%) hue-rotate(211deg) brightness(102%) contrast(106%);
    margin-right: 5px;
}

.grey_stars img {
    margin-right: 5px;
    width: 15px;
    height: 15px;
    filter: invert(100%) sepia(1%) saturate(2549%) hue-rotate(214deg) brightness(88%) contrast(94%);
}

article a {
    color: black;
    text-decoration: none;
}

#view_more:hover {
    text-decoration: underline;
}



/*-------------------------Aside------------------------*/

#ico_pop {
    display: block;
    height: 1.2em;
    width: 1.2em;
    text-align: center;
    line-height: 1.2em;
    float: right;
    margin-right:20px;
}

aside {
    display: flex;
    width: 30vw;
    max-width: 600px;
    flex-direction: column;
    background-color: #f2f2f2;
    padding-left: 30px;
    border-radius: 15px;

}

aside h2 {
    font-family: "raleway-bold";
    font-weight: 300;
}

#container_card_2 {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
}

.card_2 {
    padding-top: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    background-color:white;
    border-radius: 15px;
    align-items: center;
    width: 90%;
    box-shadow: 3px 3px 5px #e0dfdf ;
}

.card_2:hover {
    outline: #0065FC solid 1px;
}

.card_2:active {
    box-shadow: 3px 3px 5px #0065FC;
}

.image_card_2 img {
    height: 130px;
    width: 10vw;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.image_card_2 {
    margin-right: 15px;
}

.contenu_card_2 h3, .contenu_card_2 p {
    color: black
}

.contenu_card_2 h3 {
    font-family: "raleway-bold";
    font-weight: 300;
}


/*--------------------------------Bottom of page -----------------------------*/

#container_bottom_of_page {
    display: flex;
    width: 95%;
    margin: auto;
    flex-direction: column;
    justify-content: space-between;   
    font-family: "raleway",sans-serif;
}

#containter_bottom_of_page h2 {
    font-family: "raleway-bold";
    font-weight: 300;
}

#container_bottom_of_page a {
    text-decoration: none;
}



#container_card_3 {
    display:flex;
    max-height: 493px;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 485px;
    max-height: 530px;
    max-width: 1500px;
}

.card_3 {
    display:flex;
    flex-direction: column;
   
    border-radius: 15px;
    background-color:white;
    box-shadow: 3px 3px 5px #e0dfdf ;
}

.card_3 h3 {
    font-size: 1.4vw;
    font-family: "raleway-bold";
    font-weight: 300;
}

.card_3:hover {
    outline: #0065FC solid 1px;
}

.card_3:active {
    box-shadow: 3px 3px 5px #0065FC;
}

.image_card_3 img {
    height: 430px;
    width: 21vw;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    max-width: 300px ;
}

.contenu_card_3 {
    margin-left: 15px;
    color: black;
}

/*taille moyenne*/
.m-image_card_3 img {
    height: 200px;
    width: 21vw;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    max-width: 300px
}

/*petite taile*/

.s-image_card_3 img {
    height: 125px;
    width: 21vw;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    max-width: 300px
}


/*--------------------------------------Footer--------------------------*/

footer {
    background-color: #f2f2f2;
    margin-top: 40px;
    font-family: "raleway",sans-serif;
}

#container_footer {
    width:95%;
    margin: auto;
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    text-decoration: underline;
}

footer ul {
    list-style: none;
    padding: 0;
}

.list_footer
{
    margin-right: 190px;
}




/*----------------------A ne pas afficher ------------------------*/
#subscribe {
display: none;
}

#nav_mobile {
    display: none;
}